<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Ramblings</title>
        <link rel="stylesheet" href="css/main.css">
        <style>
            .update {
                display: none;
            }
            .editing .update {
                display: block;
            }
            .editing .view {
                display: none;
            }
        </style>
    </head>
    <body>
        
        <header>
            <p>Double-click a note to edit.  ESC to save.</p>
        </header>

        <div id="notes-app" class="app">
            <ul id="note-list">
            </ul>
            <textarea id="new-note"></textarea>
            <!--<button id="test-button">Test Button</button>-->
        </div>

        <footer>
            Electric Pond, Inc.
        </footer>

        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script src="bower_components/momentjs/moment.js"></script>
        <script src="bower_components/marked/lib/marked.js"></script>

        <script src="js/jquery.autogrow-textarea.js"></script>

        <!-- Templates -->
        <script type="text/template" id="note-template">
            <span class="time"><%= moment(createdAt).fromNow() %></span> - 
            <a class="destroy">delete</a>
            <article class="view">
                <%= marked(body) %>
            </article>
            <div class="update">
                <textarea class="input"><%= body %></textarea>
            </div>
        </script>

        <script src="js/notes.js"></script>

        <script type="text/javascript">
            $(function () {
                initNotes({{- initdata }})
                $('textarea').autogrow()
            })
        </script>

    </body>
</html>
