{{!< layout}}
<header>
	<a href="/signin">Sign in</a> or
	<a href="/signup">Create an account</a>
</header>
<h1>Rambler</h1>
<p>Here's a bunch of reasons why Rambler is awesome!</p>
<ul>
	<li>It looks pretty.
	<li>It uses markdown.
	<li>It's HTML6.  (not really)
</ul>
